# local env files
airflow/.env
airflow/dags/__pycache__/
airflow/config/
airflow/plugins/

# logs
airflow/logs/

# reference files
docker-compose-ref.yaml
airflow/example_branch_datetime_operator.py
20250924_infra_project_notes.txt

# system files
export
*/export

# Secrets
airflow/secrets/
*/secrets/*
.env
*/.env
dbt/profiles.yml

# dev
gcp-airflow-test
gcp-airflow-test/*
